body {
    background-image: url(../img/fondo-de-la-pagina.jpg); background-size: cover;
    color: #e77d9d;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.fondo-descripcion {
    width: 180px;
    height: 80px;
    background-color: #e8688e;
    border: 3px solid #de4c78;
    border-radius: 10px;
}

#descripcion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    row-gap: 10px;
}

.fondo-listado {
    width: 180px;
    height: 80px;
    background-color: #e8688e;
    border: 3px solid #de4c78;
    border-radius: 10px;
}

#listado {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    row-gap: 10px;
}

.fondo-imagen {
    width: 180px;
    height: 80px;
    background-color: #e8688e;
    border: 3px solid #de4c78;
    border-radius: 10px;
}

#imagen {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    row-gap: 10px;
}

.fondo-pagina-web {
    width: 180px;
    height: 80px;
    background-color: #e8688e;
    border: 3px solid #de4c78;
    border-radius: 10px;
}

#pagina-web {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    row-gap: 10px;
}

img {
border-radius: 10px;
border-style: dotted;
}

a:hover {
    color: #e8688e;
    font-size: 20px;
    text-decoration: underline;
    transition-duration: 1s;
}

a:visited {
    color: #de4c78;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .fondo-descripcion {
        background-color: #ea4e7d;
        width: 100%;
        margin: 0px 16px;
    }
    .fondo-listado {
        background-color: #ea4e7d;
        width: 100%;
        margin: 0px 16px;
    }
    .fondo-imagen {
        background-color: #ea4e7d;
        width: 100%;
        margin: 0px 16px;
    }
    .fondo-pagina-web {
        background-color: #ea4e7d;
        width: 100%;
        margin: 0px 16px;
    }
}